<main>
  <header>
    <app-logo logoClass="logo-header" />

    <!-- <form class="search">
            <input type="text">
            <button type="submit">
                <mat-icon>search</mat-icon>
            </button>
        </form> -->

    <div>
      <mat-icon>search</mat-icon>
      <mat-icon>person</mat-icon>
    </div>
  </header>
  <section>
    <ul>
      <a routerLink="/movie/1">
        <li>
          <img
            src="https://br.web.img3.acsta.net/r_1280_720/medias/nmedia/18/91/33/63/20140762.jpg"
          />
          <article>
              <h3>Titulo: Edward Mão de Tesouras</h3>
              <p>1985 - Terror</p>
              <p>
                  curtidas
                  <mat-icon>thumb_up</mat-icon>
              </p>
          </article>
        </li>
      </a>
      <a routerLink="/movie/1">
        <li>
          <img
            src="https://br.web.img3.acsta.net/r_1280_720/medias/nmedia/18/91/33/63/20140762.jpg"
          />
          <article>
              <h3>Titulo: Edward Mão de Tesouras</h3>
              <p>1985 - Terror</p>
              <p>
                  curtidas
                  <mat-icon>thumb_up</mat-icon>
              </p>
          </article>
        </li>
      </a>
      <a routerLink="/movie/1">
        <li>
          <img
            src="https://br.web.img3.acsta.net/r_1280_720/medias/nmedia/18/91/33/63/20140762.jpg"
          />
          <article>
              <h3>Titulo: Edward Mão de Tesouras</h3>
              <p>1985 - Terror</p>
              <p>
                  curtidas
                  <mat-icon>thumb_up</mat-icon>
              </p>
          </article>
        </li>
      </a>
      <a routerLink="/movie/1">
        <li>
          <img
            src="https://br.web.img3.acsta.net/r_1280_720/medias/nmedia/18/91/33/63/20140762.jpg"
          />
          <article>
              <h3>Titulo: Edward Mão de Tesouras</h3>
              <p>1985 - Terror</p>
              <p>
                  curtidas
                  <mat-icon>thumb_up</mat-icon>
              </p>
          </article>
        </li>
      </a>
      <a routerLink="/movie/1">
        <li>
          <img
            src="https://br.web.img3.acsta.net/r_1280_720/medias/nmedia/18/91/33/63/20140762.jpg"
          />
          <article>
              <h3>Titulo: Edward Mão de Tesouras</h3>
              <p>1985 - Terror</p>
              <p>
                  curtidas
                  <mat-icon>thumb_up</mat-icon>
              </p>
          </article>
        </li>
      </a>
      <a routerLink="/movie/1">
        <li>
          <img
            src="https://br.web.img3.acsta.net/r_1280_720/medias/nmedia/18/91/33/63/20140762.jpg"
          />
          <article>
              <h3>Titulo: Edward Mão de Tesouras</h3>
              <p>1985 - Terror</p>
              <p>
                  curtidas
                  <mat-icon>thumb_up</mat-icon>
              </p>
          </article>
        </li>
      </a>
      <a routerLink="/movie/1">
        <li>
          <img
            src="https://br.web.img3.acsta.net/r_1280_720/medias/nmedia/18/91/33/63/20140762.jpg"
          />
          <article>
              <h3>Titulo: Edward Mão de Tesouras</h3>
              <p>1985 - Terror</p>
              <p>
                  curtidas
                  <mat-icon>thumb_up</mat-icon>
              </p>
          </article>
        </li>
      </a>
      <a routerLink="/movie/1">
        <li>
          <img
            src="https://br.web.img3.acsta.net/r_1280_720/medias/nmedia/18/91/33/63/20140762.jpg"
          />
          <article>
              <h3>Titulo: Edward Mão de Tesouras</h3>
              <p>1985 - Terror</p>
              <p>
                  curtidas
                  <mat-icon>thumb_up</mat-icon>
              </p>
          </article>
        </li>
      </a>
      <a routerLink="/movie/1">
        <li>
          <img
            src="https://br.web.img3.acsta.net/r_1280_720/medias/nmedia/18/91/33/63/20140762.jpg"
          />
          <article>
              <h3>Titulo: Edward Mão de Tesouras</h3>
              <p>1985 - Terror</p>
              <p>
                  curtidas
                  <mat-icon>thumb_up</mat-icon>
              </p>
          </article>
        </li>
      </a>
      <a routerLink="/movie/1">
        <li>
          <img
            src="https://br.web.img3.acsta.net/r_1280_720/medias/nmedia/18/91/33/63/20140762.jpg"
          />
          <article>
              <h3>Titulo: Edward Mão de Tesouras</h3>
              <p>1985 - Terror</p>
              <p>
                  curtidas
                  <mat-icon>thumb_up</mat-icon>
              </p>
          </article>
        </li>
      </a>
      <a routerLink="/movie/1">
        <li>
          <img
            src="https://br.web.img3.acsta.net/r_1280_720/medias/nmedia/18/91/33/63/20140762.jpg"
          />
          <article>
              <h3>Titulo: Edward Mão de Tesouras</h3>
              <p>1985 - Terror</p>
              <p>
                  curtidas
                  <mat-icon>thumb_up</mat-icon>
              </p>
          </article>
        </li>
      </a>
      <a routerLink="/movie/1">
        <li>
          <img
            src="https://br.web.img3.acsta.net/r_1280_720/medias/nmedia/18/91/33/63/20140762.jpg"
          />
          <article>
              <h3>Titulo: Edward Mão de Tesouras</h3>
              <p>1985 - Terror</p>
              <p>
                  curtidas
                  <mat-icon>thumb_up</mat-icon>
              </p>
          </article>
        </li>
      </a>
      <a routerLink="/movie/1">
        <li>
          <img
            src="https://br.web.img3.acsta.net/r_1280_720/medias/nmedia/18/91/33/63/20140762.jpg"
          />
          <article>
              <h3>Titulo: Edward Mão de Tesouras</h3>
              <p>1985 - Terror</p>
              <p>
                  curtidas
                  <mat-icon>thumb_up</mat-icon>
              </p>
          </article>
        </li>
      </a>
      
    </ul>
  </section>
</main>
