<main>
    <app-logo></app-logo>
    <form>
        <input type="text" placeholder="Nome de usuário" name="username"/>
        <input type="text" placeholder="E-mail" name="email"/>
        <input type="text" placeholder="Imagem de usuário" name="iamge"/>
        <input type="password" placeholder="Senha" name="password"/>
        <input type="password" placeholder="Confirmação de senha" name="repeat-password"/>
        <button type="submit">Cadastrar-se</button>
        <a href="">Entrar na sua conta</a>
    </form>
</main>
