<main>
  <section>
    <article>
        <iframe
            width="100%"
            height="100%"
            src="https://www.youtube.com/embed/r8JfLpqiyD4?si=6bDJ3uFt-DJD81W8"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
        ></iframe>
    </article>
    <div>
        <button>
            <mat-icon>thumb_up_alt</mat-icon>
        </button>
        <button>
            <mat-icon>thumb_down_alt</mat-icon>
        </button>
    </div>
  </section>
</main>
